/*
* Flexslider Direction Nav
* 
* @package WP WP Provisions
* @subpackage CSS
*/

	.flex-direction-nav {*height: 0; width: 100%; position: absolute; top: 50%; z-index: 10;}
	#carousel .flex-direction-nav { top: 28%;}
	.home #carousel .flex-direction-nav { top: 33%;}

		.flex-direction-nav a { position: absolute; height: 34px; width: 34px; padding: 8px 14px; text-align: center; line-height: normal; display: inline-block; background: rgba(24,25,27,1); color: #fff; cursor: pointer; opacity: 1; border-radius: 3px;}
			.flex-direction-nav a:hover { background: #29333d;}
				#carousel .flex-direction-nav a { background: rgba(238,238,238,1); border: 1px solid #d5d9dd; color: #191919;}

					.flex-direction-nav .flex-prev { left: 10px;}
					.flex-direction-nav .flex-next { right: 10px;}

						#carousel .flex-direction-nav .flex-prev { left: 0;}
						#carousel .flex-direction-nav .flex-next { right: 20px;}

						#carousel .flex-direction-nav .flex-prev { border-left: none; padding-right: 8px; padding-left: 5px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 0; border-bottom-left-radius: 0;}
						#carousel .flex-direction-nav .flex-next { border-right: none; padding-right: 5px; padding-left: 8px; border-top-left-radius: 5px; border-bottom-left-radius: 3px; border-top-right-radius: 0; border-bottom-right-radius: 0;}

					.flex-direction-nav .flex-prev { font-size: 0;}
						.flex-direction-nav .flex-prev:before { font-family: "FontAwesome"; font-size: 16px; content: "\f104";}

					.flex-direction-nav .flex-next { font-size: 0;}
						.flex-direction-nav .flex-next:before { font-family: "FontAwesome";  font-size: 16px; content: "\f105";}