/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0; direction: ltr;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
	.single-listings .flexslider .slides img:hover { cursor: zoom-in;}
	.single-listings #carousel.flexslider img:hover { cursor: pointer;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider { position: relative; zoom: 1; margin: 0; background: url(../images/loader.gif) no-repeat center center #efefef;}
	.aq-block-aq_testimonial_block .flexslider { background-image: none;}
	.boxed .flexslider { min-height: 0;}
	.single #slider.flexslider {}
	.home #slider.flexslider { min-height: 340px;}
	.home .page-builder .flexslider { min-height: 0; background: none;}
	#carousel.flexslider { background: none; min-height: 10px !important;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport { max-height: 400px;}
.flexslider .slides {zoom: 1;}
	article.col.span_6 .flexslider .slides { overflow: hidden; height: 240px;}

.flex-container { max-width: 1100px; margin: auto;}

/* Caption style */
.flex-caption { background:none; -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000); zoom: 1;}
.flex-caption { max-width: 1100px; text-align: center;}
.flex-caption .flex-inner { position: absolute; bottom: 20px; border-radius: 3px; overflow: hidden; margin: 0 auto;}
.flex-caption h3 { text-align: left; color: #fff; text-transform: uppercase; margin: 0; font-weight: 500; background: #29333d; padding: 23px 25px;}
	.flex-caption h3 a { color: #fff;}
.flex-caption p { padding: 12px 20px; margin: 0; background: #fff; }
.flex-caption h4.price { color: #fff; margin-top: 0; margin-bottom: 0; padding: 27px 20px; background: #27ae60; border-top-right-radius: 3px; border-bottom-right-radius: 3px;}

article .flexslider li { margin-bottom: 0 !important;}
#carousel { position: relative;}
#carousel li { margin-right: 5px;}
#carousel li:hover { cursor: pointer;}
	#carousel.flexslider { overflow: hidden; padding: 2px 10px 10px 10px; border-bottom: 1px solid #d5d9dd;}
		#carousel .slides li { height: 67px; overflow: hidden;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}